include ../blocks/main/_mixins.pug

doctype html

html(lang="ru" dir="ltr")
	head
		include _head.pug

	body
		include ../blocks/header/header.pug

		block header

		block content

		include ../blocks/footer/footer.pug

		include _scripts.pug