.header {
	position: relative;
	padding: 1.5em 0 0;
	background-color: $white;
	z-index: 1;

	&-logo,
	&-search,
	.navbar-toggler {
		margin-bottom: $grid-gutter-width;
	}

	&-search {
		&-control {
			height: auto;
			padding-right: $grid-gutter-width * 1.5;
			background: {
				color: $white;
				repeat: no-repeat;
				position: calc(100% - #{$grid-gutter-width * .5}) 50%;
				image: url('#{$img-dir}search.svg');
				size: $grid-gutter-width * .5 auto;
			}

			@include media-breakpoint-down('md') {
				$padding-y: .607em;

				padding: {
					top: $padding-y;
					bottom: $padding-y;
				}
			}
		}
	}

	&-menu {
		width: 100%;
		border-top: 1px solid $gray-200;

		&-container {
			padding: {
				top: 1px;
				bottom: 0;
			}
			box-shadow: 0 0 32px 0 rgba($black, .1);

			@include media-breakpoint-down('md') {
				.navbar-collapse {
					padding-bottom: 1em;
				}
			}
		}

		> .nav-item {
			position: relative;

			> .nav-link {
				font-weight: $font-weight-bold;

				@include media-breakpoint-down('md') {
					padding: 1em 0;
				}

				@include media-breakpoint-up('lg') {
					padding: 1.5715em 0;
				}
			}
		}

		.nav-item {
			font-size: .875rem;
			text-transform: uppercase;
		}

		> .nav-item > .header-menu-item-rate {
			$padding-x: $grid-gutter-width * .5;
			$bg-color: $yellow;

			padding: {
				left: $padding-x;
				right: $padding-x;
			}
			color: $gray-700;
			background-color: $bg-color;

			&:hover {
				background-color: lighten($bg-color, 10%);
			}
		}

		.sub-menu {
			display: none;
		}
	}
}