.widget {
	padding: 3.5em 0;
	background: {
		repeat: no-repeat;
		position: 50% 50%;
		size: cover;
	}

	&-title {
		margin-bottom: 1em;
		font: {
			size: 1.625rem;
			weight: $font-weight-medium;
		}

		&._main {
			font: {
				size: 1.875rem;
				weight: $font-weight-light;
			}
		}
	}

	&-subtitle {
		margin: {
			top: -1.5em;
			bottom: 2em;
		}
		font: {
			size: 1.125rem;
			weight: $font-weight-light;
		}
	}

	&-custom {
		&._expert {
			margin: {
				top: 7.5em;
				bottom: 1.5em;
			}
			padding-top: .1em;
			background-color: $gray-100;

			.container {
				$thumb-width: 471px;

				position: relative;
				min-height: 230px;
				padding: 1.5em 0 1.5em #{$thumb-width - 75px};

				&::before {
					position: absolute;
					left: -55px;
					top: -5.4em;
					display: block;
					width: $thumb-width;
					height: 298px;
					content: '';
					background: {
						repeat: no-repeat;
						image: url('#{$img-dir}expert-thumb.jpg');
						size: contain;
					}
				}
			}

			p {
				position: relative;
			}
		}
	}
}