extends ./layout/layout.pug

block meta
	title Банковские карты

block content
	section.widget(style='background-image:url(t/1.jpg)')
		.container
			h1.widget-title._main
				b Путеводитель
				|  в мире банковских карт

			.category-menu-container
				include ./blocks/main/_category-menu.pug

	section.widget(style='background-image:url(t/9.jpg)')
		.container
			h2.widget-title Информационнные разделы
			.info-list
				.row
					- var infoList = [{'type': 'all', 'title': 'Обзоры карт всех банков'}, {'type': 'debit', 'title': 'Дебетовые карты'}, {'type': 'credit', 'title': 'Кредитные карты'}, {'type': 'instruct', 'title': 'Инструкции'}, {'type': 'transfer', 'title': 'Переводы и оплата'}, {'type': 'qa', 'title': 'Вопросы и ответы'}];
					each infoListItem in infoList
						.col-md-4
							a(href='/', class='info-item box-item _'+ infoListItem.type)
								span.info-item-title= infoListItem.title

	main.main
		.widget
			.container
				h2.widget-title Новые материалы
				.widget-subtitle Актуальные обзоры банковских продуктов

				.posts-container.row
					- var postList = [{'title': 'Тонкости использования кредитной карты Тинькофф на 120 дней без процентов', 'excerpt': 'Если вам выдали кредит, значит, вы подтвердили свою платежеспособность. Финансовым организациям выгодно «уводить» друг', 'category': 'Тинькофф', 'thumb': '10'}, {'title': 'Возможности премиальной дебетовой карты Тинькофф Black Edition', 'excerpt': 'Тинькофф начал развивать премиальный сегмент в апреле 2018, обслуживанию состоятельных клиентов уделяют повышенное внимание', 'category': 'Карты', 'thumb': '11'}, {'title': 'Особенности получения и использования кредитной карты Тинькофф Platinum', 'excerpt': 'Возможность не откладывать покупку, а оплатить кредиткой стала нормой. При выборе пластика мы оцениваем', 'category': 'Инструкции', 'thumb': '12'}, {'title': 'Тонкости использования кредитной карты Тинькофф на 120 дней без процентов', 'excerpt': 'Если вам выдали кредит, значит, вы подтвердили свою платежеспособность. Финансовым организациям выгодно «уводить» друг', 'category': 'Тинькофф', 'thumb': '10'}, {'title': 'Возможности премиальной дебетовой карты Тинькофф Black Edition', 'excerpt': 'Тинькофф начал развивать премиальный сегмент в апреле 2018, обслуживанию состоятельных клиентов уделяют повышенное внимание', 'category': 'Карты', 'thumb': '11'}, {'title': 'Особенности получения и использования кредитной карты Тинькофф Platinum', 'excerpt': 'Возможность не откладывать покупку, а оплатить кредиткой стала нормой. При выборе пластика мы оцениваем', 'category': 'Инструкции', 'thumb': '12'}];
					each postListItem in postList
						.col-md-4.d-md-flex
							+postsItem(postListItem)

				nav.navigation.pagination
					.screen-reader-text Навигация по записям
					.nav-links
						a.prev.page-numbers(href='/') Назад
						a.page-numbers(href='/') 1
						span.page-numbers.current(href='/', aria-current='page') 2
						a.page-numbers(href='/') 3
						span.page-numbers.dots …
						a.page-numbers(href='/') 26
						a.next.page-numbers(href='/') Далее

	section.widget
		.container
			h2.widget-title CardsBanking — эксперт по банковским продуктам
			.widget-subtitle Всё про дебетовые и кредитные карты, кэшбэк и программы лояльности, пакеты услуг
		.widget-custom._expert
			.container
				p Клиент подтверждает наличие кредитной задолженности в другом банке и  просит погасить ее средствами с карточного счета. Тинькофф переводит  деньги, предоставляет беспроцентную рассрочку.
				p Если за 4 месяца долг не  выплачивается, система рассчитывает график погашения по ставке,  согласованной в договоре на обслуживание карты. Воспользоваться правом на рефинансирование можно раз в год. Держатель  пластика через чат или по телефону активирует функцию перевода баланса.
		.container
			p Клиент подтверждает наличие кредитной задолженности в другом банке и  просит погасить ее средствами с карточного счета. Тинькофф переводит  деньги, предоставляет беспроцентную рассрочку.
			p Если за 4 месяца долг не  выплачивается, система рассчитывает график погашения по ставке,  согласованной в договоре на обслуживание карты. Воспользоваться правом на рефинансирование можно раз в год. Держатель  пластика через чат или по телефону активирует функцию перевода баланса.