.screen-reader-text {
	$size: 1px;

	position: absolute;
	width: $size;
	height: $size;
	margin: -$size;
	padding: 0;
	border: 0;
	clip: rect($size, $size, $size, $size);
	clip-path: inset(50%);
	overflow: hidden;
	word-wrap: normal !important;
}

.important {
	$margin: $grid-gutter-width * .5;

	position: relative;
	margin: 2em 0;
	padding: 1em 0;

	&::before,
	&::after {
		$size: 34px;

		position: absolute;
		width: $size;
		height: $size;
		content: '';
		background-size: contain;
	}

	&::before {
		left: -$margin;
		top: 0;
		background-image: url('#{$img-dir}important-before.svg');
	}

	&::after {
		right: -$margin;
		bottom: 0;
		background-image: url('#{$img-dir}important-after.svg');
	}

	&-inner {
		position: relative;
		z-index: 1;
	}
}