.screen-reader-text {
	$size: 1px;

	position: absolute;
	width: $size;
	height: $size;
	margin: -$size;
	padding: 0;
	border: 0;
	clip: rect($size, $size, $size, $size);
	clip-path: inset(50%);
	overflow: hidden;
	word-wrap: normal !important;
}

.important {
	$margin: $grid-gutter-width * .5;

	position: relative;
	margin: 2em 0;
	padding: 1em 0;

	&::before,
	&::after {
		$size: 34px;

		position: absolute;
		width: $size;
		height: $size;
		content: '';
		background-size: contain;
	}

	&::before {
		left: -$margin;
		top: 0;
		background-image: url('#{$img-dir}important-before.svg');
	}

	&::after {
		right: -$margin;
		bottom: 0;
		background-image: url('#{$img-dir}important-after.svg');
	}

	&-inner {
		position: relative;
		z-index: 1;
	}
}

.currencyconverter-minimalistic {
	&-container {
		background: $yellow;
		background: linear-gradient(to bottom, $yellow 0%, lighten($yellow, 20%) 100%);
	}

	&-single-currency {
		display: flex;
		align-items: flex-end;
		padding: 1.3em 1em 1.3em 0;

		&:not(:last-child) {
			border-bottom: 1px solid rgba($white, .3);
		}
	}

	&-currency-price {
		display: block;
		width: 141px;
		margin-right: 1em;
		font-size: 2.25rem;
		text-align: right;
		line-height: 1;
	}

	&-inline-list {
		font-size: .75rem;
	}
}